html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4C4C4;
  position: absolute;
  left: 5%;
}

.navbar {
  position: relative;
  width: 100vw;
  height: 120px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar {
  background-color: white;
  width: 40%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 50%;
}

.heroImage {
  width: 37%;
  height: 37%;
  background-color: #C4C4C4;
  position: absolute;
  left: 50%;
  top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkGreyBack {
  background-color: white;
  width: 100vw;
  height: 820px;
}

.imageBox {
  width: 250px;
  height: 250px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oneOfThreeRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.oneOfThreeRowTitle {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 5%;
  font-weight: 700;
  font-size: 150%;
}

.oneOfThreeRowText {
  width: 100%;
  text-align: center;
  margin: 0;
  color: #5B5B5B;
}

.threeRow {
  width: 100vw;
  display: flex;
  justify-content: space-evenly!important;
  padding-bottom: 10%
}

.blueRow {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 20%;
}

.blueRowText {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
}

.coreValuesTitle {
  font-weight: 600;
  font-size: 150%;
  margin-bottom: 1%;
}

.coreValuesText {
  font-size: 100%;
  color:#5B5B5B;
  text-align: center;
}

.subscription {
  background-color: white;
  width: 78%;
  height: 10%;
  border-radius: 10px;
  margin: 1%;
  margin-left: 3%;
  box-shadow: 2px 2px 2px 2px lightgray;
}

.subService {
  font-size: 200%;
  font-weight: 600;
  margin: 0;
  padding-left: 3%;
  padding-top: 3%;
}

.subLowerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  height: 20%
}


.subInternalContainer {
  display: flex;
  justify-content: space-around;
  width: 60%;
  font-size: 90%;
  position: relative;
}

.inbox {
  height: 100vh;
  width: 35%;
  background-color: white;
  padding-left: 2%;
}
.messages {
  width: 65%;
  height: 100vh;
  background-color: white;

}
.message {
  background: white;
  color: black;
  width: 90%;
  height: 12%;  
  border-radius: 10px;
  margin: 2%;
  margin-left: 5%;
  margin-bottom: 6%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat {
  background-color: white;
  height: 90%;
  border-radius: 10px;
  margin: 1%;
  position: relative;
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pfp {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 3%;
}
.text {
  background: grey;
  color: black;
  text-transform: capitalize;
  width: 70%;
  height: 50%;
  border-radius: 10px;
  position: absolute;
  left: 20%;
  top: 20%;
}

.MuiPaper-root {
  background-color: #C4C4C4;
}

.notice {
  font-size: 150%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  display: flex;
}

.wallet {
  width: 30em;
  height: 8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  text-align: center;
}

.history {
  width: 65em;
  height: 200%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.request {
  display: flex;
  width: 99%;
  background-color: #F5F5F5;
  border-radius: 10px;
  margin-left: 1%;
  margin-top: 2%;
}

input[type="text"]::placeholder {  
  padding-left: 10px; 
}